.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #ffdde1, #ff6b6b);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}